<template>
    <div class="container">
        <div class="card card-default">
            <div class="card-header">Welcome</div>
            <div class="card-body">
                <p>
                    To-Do Web Application
                </p>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    components: {
    }
}
</script>